:root {
    --font-shadow:
        0 2px 23px 0 rgb(117, 117, 117),
        0 2px 49px 0 rgb(0, 255, 234);
}

header.header{
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    white-space: nowrap;
}

.header h1{
    color: aqua;
    
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Tilt Neon', sans-serif;

    text-transform: uppercase;
}